[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/mathiasbynens-dotfiles"]
	path = vendor/mathiasbynens-dotfiles
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "vendor/zsh-autosuggestions"]
	path = vendor/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vendor/dein.vim"]
	path = vendor/dein.vim
	url = https://github.com/Shougo/dein.vim.git
